<h1><%= @tasks.title %></h1>
<%= @tasks.details %>
<% if @tasks.completed == true %>
  <div>
    <input type="checkbox" id="scales" name="scales" checked>
    This task is completed
  </div>
<% else %>
  <div>
    <input type="checkbox" id="scales" name="scales">
    This task is not completed yet
  </div>
<% end %>
<div>
  <%= link_to 'Edit the task', edit_path %>
</div>

<%= link_to 'Back to list', tasks_path %>